<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyq.mybatisgenerator.mapper.UserDOMapper" >
  <resultMap id="BaseResultMap" type="com.wyq.mybatisgenerator.pojo.UserDO" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="salary" property="salary" jdbcType="DOUBLE" />
  </resultMap>
  <insert id="insert" parameterType="com.wyq.mybatisgenerator.pojo.UserDO" >
    insert into user (id, name, age, 
      salary)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{salary,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.wyq.mybatisgenerator.pojo.UserDO" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="salary != null" >
        salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>